<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    
</head>

<body>
    
    <!-- 
    <div class="container">
        <input type="text" placeholder="username" name="username"> <br>
        <input type="password" placeholder="password" name="password"> <br>
        <button> submit </button>
    </div> -->

    <form method="POST" action="/login" class="login-form">
        <h1>Login</h1>

        <div class="txtb">
            <input type="text" name="username">
            <span data-placeholder="Username"></span>
        </div>

        <div class="txtb">
            <input type="password" name="password">
            <span data-placeholder="Password"></span>
        </div>

        <input type="submit" class="logbtn" value="Login">

        <div class="bottom-text">
            Don't have account? <a href="http://localhost:9999/signup">Sign up</a>
        </div>

    </form>

    <script type="text/javascript">
        $(".txtb input").on("focus", function () {
            $(this).addClass("focus");
        });

        $(".txtb input").on("blur", function () {
            if ($(this).val() == "")
                $(this).removeClass("focus");
        });

    </script>


</body>

</html>